<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>"Nick PhillipsBlog"</title>
</head>
<body>
<header> 
  <img class="selfie" src="/Users/nicholasphillips/Documents/n1.jpg" alt="Picture of Me">
 	<h1 class="hone"><a href="https://www.facebook.com/profile.php?id=100008374355642" target="_blank">Hi I'm Nick Phillips</h1>
<div id="navbar">		
  <ul class="nav">
  	<li><spaN><a href="#">home</a></li>
	<li><a href="#"></a></li>
	<li><a href="#">A directory of my blogs will go here!</a></li>
  </ul>
</div>
</header>
<Body>
  
  <script src="index.js"></script>
</Body>




      


